public net.minecraft.world.item.Item f_41374_ # BASE_ATTACK_DAMAGE_UUID
public net.minecraft.world.item.Item f_41375_ # BASE_ATTACK_SPEED_UUID
public-f net.minecraft.world.item.SwordItem f_43266_ # attackDamage
public-f net.minecraft.world.item.SwordItem f_43267_ # defaultModifiers
public-f net.minecraft.world.item.DiggerItem f_40980_ # speed
public-f net.minecraft.world.item.DiggerItem f_40981_ # attackDamageBaseline
public-f net.minecraft.world.item.DiggerItem f_40982_ # defaultModifiers
public net.minecraft.world.item.ArmorItem f_265987_ # ARMOR_MODIFIER_UUID_PER_TYPE
public net.minecraft.world.item.ArmorItem f_265916_ # type
public-f net.minecraft.world.item.ArmorItem f_40381_ # defense
public-f net.minecraft.world.item.ArmorItem f_40382_ # toughness
#public-f net.minecraft.world.item.ArmorItem f_40378_ # knockbackResistance
public-f net.minecraft.world.item.ArmorItem f_40383_ # defaultModifiers